spring:
  application:
    name: notification-service
  data:
    mongodb:
      # Suggestion: Switch to URI format if you need authSource=admin like Account Service
      uri: mongodb://user:${MONGODB_PASSWORD}@notification-mongodb:27017/piggymetrics?authSource=admin
  
  security:
    oauth2:
      client:
        registration:
          notification-service:
            client-id: notification-service
            client-secret: ${NOTIFICATION_SERVICE_PASSWORD}
            authorization-grant-type: client_credentials
            scope: server
        provider:
          notification-service:
            # CLEANED: Removed /uaa
            token-uri: http://auth-service:8080/oauth/token
      resourceserver:
        jwt:
          # CLEANED: Removed /uaa
          # Note: Usually this points to the base issuer URL, not the token endpoint
          issuer-uri: http://auth-service:8080/