spring:
  application:
    name: notification-service
  data:
    mongodb:
      host: notification-mongodb
      port: 27017
      database: piggymetrics
      username: user
      password: ${MONGODB_PASSWORD}
  
  security:
    oauth2:
      client:
        registration:
          notification-service:
            client-id: notification-service
            client-secret: ${NOTIFICATION_SERVICE_PASSWORD}
            authorization-grant-type: client_credentials
            scope: server
        provider:
          notification-service:
            token-uri: http://auth-service:8080/uaa/oauth/token
      resourceserver:
        jwt:
          issuer-uri: http://auth-service:8080/uaa/oauth/token

  mail:
    host: smtp.gmail.com
    port: 465
    username: dev-user
    password: dev-password
    properties:
      mail.smtp.auth: true
      mail.smtp.ssl.enable: true

server:
  port: 8080 # Changed from 8000 to match Gateway logic

remind:
  cron: 0 0 0 * * *
backup:
  cron: 0 0 12 * * *