spring:
  application:
    name: statistics-service
  data:
    mongodb:
      host: statistics-mongodb
      port: 27017
      database: piggymetrics
      username: user
      password: ${MONGODB_PASSWORD}

  security:
    oauth2:
      client:
        registration:
          statistics-service:
            client-id: statistics-service
            client-secret: ${STATISTICS_SERVICE_PASSWORD}
            authorization-grant-type: client_credentials
            scope: server
        provider:
          statistics-service:
            token-uri: http://auth-service:8080/uaa/oauth/token
      resourceserver:
        jwt:
          issuer-uri: http://auth-service:8080/uaa/oauth/token

# Set port to 8080 to match your Gateway's uri: http://statistics-service:8080
server:
  port: 8080

rates:
  url: https://api.exchangeratesapi.io