spring:
  application:
    name: statistics-service
  data:
    mongodb:
      # Updated to URI for better authSource handling
      uri: mongodb://user:${MONGODB_PASSWORD}@statistics-mongodb:27017/piggymetrics?authSource=admin

  security:
    oauth2:
      client:
        registration:
          statistics-service:
            client-id: statistics-service
            client-secret: ${STATISTICS_SERVICE_PASSWORD}
            authorization-grant-type: client_credentials
            scope: server
        provider:
          statistics-service:
            # CLEANED: Removed /uaa
            token-uri: http://auth-service:8080/oauth/token
      resourceserver:
        jwt:
          # CLEANED: Removed /uaa
          issuer-uri: http://auth-service:8080/

server:
  port: 8080

rates:
  url: https://api.exchangeratesapi.io